<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" prefix="og: http://ogp.me/ns#">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="<%= htmlWebpackPlugin.options.preconnect %>" />
    <link rel="dns-prefetch" href="<%= htmlWebpackPlugin.options.preconnect %>" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <noscript>
      <h1>Javascript is not enabled on your browser</h1>
      <p align="center">
        You need to enable JavaScript to run this application. Please visit this page for more informations :<br />
        <a src="https://www.enable-javascript.com/">https://www.enable-javascript.com/</a>
      </p>
    </noscript>
    <main class="appWrapper"></main>
  </body>
</html>
