@import '@/styles';

.fullCard {
  width: 100%;
}

.styledLink {
  padding: 4px;
  text-decoration: none;
}

.buttonBox {
  margin-top: 4px;
}

.gridButton {
  align-content: space-around;
  height: 2rem;
}

.button {
  width: 100%;
}

.buttonLink {
  color: $primary-color;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
}

@keyframes draw-path {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-circle {
  from {
    fill: #fff;
    opacity: 0;
  }

  to {
    fill: #fff;
    opacity: 1;
  }
}
